@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #141d2b;
}

html {
  scroll-behavior: smooth;
}

span.green {
  color: #4caf50;
  font-weight: bold;
}
span.right {
  text-align: right;
}
span.bold {
  font-weight: bolder;
}

a {
  text-decoration: none;
}
a.btn {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
a.btn.sm {
  padding: 0.75rem 1.5rem;
}
a.btn.btn-primary {
  background-color: #4caf50;
  color: #fff;
}
a.btn.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #4caf50;
  color: #4caf50;
}
a.btn.btn-secondary {
  color: #4caf50;
  transition: background-color 0.3s ease;
}
a.btn.btn-secondary:hover {
  color: #fff;
  background-color: #4caf50;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #141d2b;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
}
nav .logo h4 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
nav .nav-links {
  display: flex;
  align-items: center;
}
nav .nav-links ul {
  display: flex;
  list-style: none;
}
nav .nav-links ul li {
  margin-left: 2.5rem;
}
nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}
nav .nav-links ul li a:hover {
  color: #4caf50;
}

main {
  margin-top: 2.5rem;
}
main h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2:after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #4caf50;
  margin-top: 0.5rem;
}
main .hero {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  color: #fff;
  height: 100vh;
}
@media (max-width: 768px) {
  main .hero {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }
  main .hero .hero-text,
  main .hero .terminal-container {
    max-width: 100%;
  }
}
main .hero .hero-text {
  max-width: 45%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  main .hero .hero-text {
    max-width: 90%;
  }
}
main .hero .hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
main .hero .hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: block;
}
main .hero .hero-text .hero-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 1rem;
}
@media (max-width: 768px) {
  main .hero .hero-text .hero-buttons {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
main .hero .terminal-container {
  max-width: 45%;
  width: 700px;
  max-width: 700px;
}
@media (max-width: 768px) {
  main .hero .terminal-container {
    width: 100%;
  }
}
main .hero .terminal-container .terminal {
  background-color: #111927;
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
}
main .hero .terminal-container .terminal .terminal-header {
  display: flex;
  margin-bottom: 1rem;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button.red {
  background-color: #f44336;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button.red:hover {
  background-color: #ea1c0d;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button.yellow {
  background-color: #ffeb3b;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button.yellow:hover {
  background-color: #ffe608;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button.green {
  background-color: #4caf50;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button.green:hover {
  background-color: #3d8b40;
}
main .hero .terminal-container .terminal .terminal-header .terminal-header-button:hover {
  cursor: pointer;
}
main .hero .terminal-container .terminal .terminal-body .command {
  display: flex;
}
main .hero .terminal-container .terminal .terminal-body .command .prefix {
  font-weight: bold;
  margin-right: 0.5rem;
}
main .hero .terminal-container .terminal .terminal-body .command p {
  font-size: 0.9rem;
  font-family: "Fira Code", monospace;
}
main .hero .scrolldown-wrapper {
  left: 50%;
  position: absolute;
  text-align: center;
  bottom: 0;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  main .hero .scrolldown-wrapper {
    display: none;
  }
}
main .hero .scrolldown-wrapper .scrolldown {
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  height: 46px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
}
main .hero .scrolldown-wrapper .scrolldown .scrolldown-p1, main .hero .scrolldown-wrapper .scrolldown .scrolldown-p2 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: #FFFFFF;
}
main .hero .scrolldown-wrapper .scrolldown .scrolldown-p2 {
  animation-delay: 0.75s;
}
@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}
main .about {
  padding: 2rem;
  background-color: #141d2b;
  color: #fff;
}
@media (max-width: 768px) {
  main .about {
    padding: 1rem;
  }
}
main .about .about-text {
  max-width: 45%;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  main .about .about-text {
    max-width: 90%;
    padding: 1rem;
  }
}
main .about .about-text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}
main .about .about-text p:nth-child(1) {
  text-align: left;
  transform: translateX(-10%);
}
main .about .about-text p:nth-child(2) {
  transform: translateX(10%);
  text-align: right;
}
@media (max-width: 768px) {
  main .about .about-text p:nth-child(1), main .about .about-text p:nth-child(2) {
    transform: translateX(0);
    text-align: center;
  }
}
main .about hr {
  border: 0;
  height: 2px;
  background: #111927;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  main .about hr {
    width: 90%;
  }
}
main .about .roadmap-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  main .about .roadmap-container {
    padding: 1rem;
  }
}
main .about .roadmap-container .roadmap-event {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about .roadmap-container .roadmap-event h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
main .about .roadmap-container .roadmap-event p {
  font-size: 1.2rem;
}
main .about .roadmap-container .roadmap-connection {
  width: 4px;
  height: 30px;
  background-color: #4caf50;
  margin-bottom: 2rem;
  border-radius: 2px;
}
main .services {
  padding: 2rem;
  color: #fff;
  background-color: #111927;
}
main .services .container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}
main .services .container .service {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 300px;
  background-color: #141d2b;
}
main .services .container .service .service-icon {
  display: flex;
  margin: auto;
  padding: 1rem;
  border-radius: 50%;
  background-color: #111927;
}
main .services .container .service .service-icon svg {
  width: 50px;
  height: 50px;
  color: #4caf50;
}
main .services .container .service .service-title {
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold;
}
main .services .container .service .service-description {
  font-size: 1rem;
  text-align: center;
  height: 100%;
}
main .contact {
  padding: 2rem;
  color: #fff;
}
@media (max-width: 768px) {
  main .contact {
    padding: 1rem;
  }
}
main .contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: 5rem;
}
@media (max-width: 768px) {
  main .contact .contact-form {
    width: 90%;
    padding: 1rem;
    margin-top: 2rem;
  }
}
main .contact .contact-form .form-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  main .contact .contact-form .form-row {
    flex-direction: column;
  }
}
main .contact .contact-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
main .contact .contact-form .form-group label {
  font-size: 1rem;
  font-weight: bold;
}
main .contact .contact-form .form-group input, main .contact .contact-form .form-group textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  color: #141d2b;
  background-color: whitesmoke;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}
main .contact .contact-form .form-group input:focus, main .contact .contact-form .form-group textarea:focus {
  outline: none;
}
main .contact .contact-form .form-group textarea {
  resize: none;
  height: 150px;
}
main .contact .contact-form button {
  align-self: flex-start;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
}
main .contact .contact-form button:hover {
  background-color: transparent;
  border: 1px solid #4caf50;
  color: #4caf50;
}/*# sourceMappingURL=app.css.map */