$dark-light: #141d2b;
$dark: #111927;
$light: #747881;

$red: #f44336;
$yellow: #ffeb3b;
$green: #4caf50;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: $dark-light;
}

html {
    scroll-behavior: smooth;
}

span {
    &.green {
        color: $green;
        font-weight: bold;    
    }
    &.right {
        text-align: right;
    }
    &.bold {
        font-weight: bolder;
    }
}

a {
    text-decoration: none;    
}

.btn {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &.sm {
        padding: .75rem 1.5rem;
    }

    &.btn-primary {
        background-color: $green;
        color: #fff;

        &:hover {
            background-color: transparent;
            border: 1px solid $green;
            color: $green;
        }
    }

    &.btn-secondary {
        color: $green;
        transition: background-color 0.3s ease;
        &:hover {
            color: #fff;
            background-color: $green;
        }
    }
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $dark-light;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        display: none;
    }

    .logo {
        h4 {
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    .nav-links {
        display: flex;
        align-items: center;
        
        ul {
            display: flex;
            list-style: none;
            li {
                margin-left: 2.5rem;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.1rem;
                    transition: color 0.3s ease, transform 0.3s ease;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }
}

main {
    margin-top: 2.5rem;
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:after {
            content: '';
            width: 100px;
            height: 5px;
            background-color: $green;
            margin-top: 0.5rem;
        }
    }
    


    .hero {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem;
        color: #fff;
        height: 100vh;
        @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
            padding: 1rem;
    
            .hero-text,
            .terminal-container {
                max-width: 100%;
            }
        }
        .hero-text {
            max-width: 45%;
            display: flex;
            flex-direction: column;
            @media (max-width: 768px) {
                max-width: 90%;
            }
            h1 {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 1rem;
                display: block;
            }

            .hero-buttons {
                display: flex;
                flex-direction: row;
                margin-top: 2rem;
                gap: 1rem;
                @media (max-width: 768px) {
                    flex-direction: column;
                    margin-bottom: 2rem;
                }
            }
        }

        .terminal-container {
            max-width: 45%;
            width: 700px;
            max-width: 700px;
            @media (max-width: 768px) {
                width: 100%;
            }
            .terminal {
                background-color: $dark;
                color: #fff;
                padding: 1rem;
                border-radius: 15px;
                .terminal-header {
                    display: flex;
                    margin-bottom: 1rem;

                    .terminal-header-button {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        margin-right: 5px;

                        &.red {
                            background-color: $red;
                            &:hover {
                                background-color: darken($red, 10%);
                            }
                        }

                        &.yellow {
                            background-color: $yellow;
                            &:hover {
                                background-color: darken($yellow, 10%);
                            }
                        }

                        &.green {
                            background-color: $green;
                            &:hover {
                                background-color: darken($green, 10%);
                            }
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .terminal-body {
                    .command {
                        display: flex;
                        .prefix {
                            font-weight: bold;
                            margin-right: .5rem;
                        }
                        p {
                            font-size: .9rem;
                            font-family: "Fira Code", monospace;
                        }
                    }
                }
            }
        }
        .scrolldown-wrapper {
            left: 50%;
            position: absolute;
            text-align: center;
            bottom: 0;
            transform: translate(-50%, -50%);
            @media (max-width: 768px) {
                display: none;
            }
            .scrolldown {
                border: 2px solid #FFFFFF;
                border-radius: 30px;
                height: 46px;
                margin: 0 auto 8px;
                text-align: center;
                width: 30px;
                .scrolldown-p1, .scrolldown-p2 {
                    animation-duration: 1.5s;
                    animation-name: scrolldown;
                    animation-iteration-count: infinite;
                    fill: #FFFFFF;
                }
                .scrolldown-p2 {
                    animation-delay: .75s;
                }
                
                @keyframes scrolldown {
                    0% {
                        opacity: 0;
                        transform: translate(0, -8px);
                    }
                    50% {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                    100% {
                        opacity: 0;
                        transform: translate(0, 8px);
                    }
                }
        
            }
            
        }

    }

    .about {
        padding: 2rem;
        background-color: $dark-light;
        color: #fff;
        @media (max-width: 768px) {
            padding: 1rem;
        }
        .about-text {
            max-width: 45%;
            padding: 2rem;
            border-radius: 10px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin: 0 auto;
            @media (max-width: 768px) {
                max-width: 90%;
                padding: 1rem;
            }
            p {
                font-size: 1.2rem;
                margin-bottom: 1rem;
                line-height: 1.6;
                &:nth-child(1) {
                    text-align: left;
                    transform: translateX(-10%);
                }
                &:nth-child(2) {
                    transform: translateX(10%);
                    text-align: right;
                }

                @media (max-width: 768px) {
                    &:nth-child(1), &:nth-child(2) {
                        transform: translateX(0);
                        text-align: center;
                    }
                }
            }
        }

        hr {
            border: 0;
            height: 2px;
            background: $dark;
            width: 80%;
            margin: 0 auto;
            @media (max-width: 768px) {
                width: 90%;
            }
        }
        
        .roadmap-container {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 768px) {
                padding: 1rem;
            }
            .roadmap-event {
                padding: 1rem;
                border-radius: 5px;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
                p {
                    font-size: 1.2rem;
                }
            }
    
            .roadmap-connection {
                width: 4px;
                height: 30px;
                background-color: $green;
                margin-bottom: 2rem;
                border-radius: 2px;
            }
        }
    }

    .services {
        padding: 2rem;
        color: #fff;
        background-color: $dark;
        .container {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            margin: 0 auto;
            gap: 2rem;
            padding: 2rem;
            flex-wrap: wrap;
    
            .service {
                display: grid;
                grid-template-rows: auto 1fr auto;
                align-items: start;
                justify-content: center;
                gap: .5rem;
                padding: 1.5rem;
                border-radius: 15px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                color: #fff;
                width: 300px;
                background-color: $dark-light;
                .service-icon {
                    display: flex;
                    margin: auto;
                    padding: 1rem;
                    border-radius: 50%;
                    background-color: $dark;

                    svg {
                        width: 50px;
                        height: 50px;
                        color: $green;
                    }
                }
    
                .service-title {
                    margin: auto;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
    
                .service-description {
                    font-size: 1rem;
                    text-align: center;
                    height: 100%;
                }
            }
        }
    }

    .contact {
        padding: 2rem;
        color: #fff;
        @media (max-width: 768px) {
            padding: 1rem;
        }
        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 2rem;
            border-radius: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            color: #fff;
            max-width: 40%;
            margin: 0 auto;
            margin-top: 5rem;
            @media (max-width: 768px) {
                width: 90%;
                padding: 1rem;
                margin-top: 2rem;
            }
            .form-row {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                width: 100%;
                @media (max-width: 768px) {
                    flex-direction: column;
                }
                
            }

            .form-group {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                width: 100%;
    
                label {
                    font-size: 1rem;
                    font-weight: bold;
                }
    
                input, textarea {
                    padding: .5rem;
                    border-radius: 5px;
                    border: none;
                    color: $dark-light;
                    background-color: whitesmoke;
                    font-size: 1rem;
                    font-family: "Fira Code", monospace;

                    &:focus {
                        outline: none;
                    }
                }
    
                textarea {
                    resize: none;
                    height: 150px;
                }
            }
    
            button {
                align-self: flex-start;
                padding: .75rem 1.5rem;
                border-radius: 5px;
                border: none;
                font-size: 1rem;
                font-weight: bold;
                transition: background-color 0.3s ease;
                cursor: pointer;
                background-color: $green;
                color: #fff;
        
                &:hover {
                    background-color: transparent;
                    border: 1px solid $green;
                    color: $green;
                }
            }
        }
        
    }
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 2rem;
    
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    
        .newsletter-content {
            display: flex;
            flex-direction: column;
            width: 45%;
            color: #fff;
    
            @media (max-width: 768px) {
                width: 90%;
                text-align: center;
            }
    
            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
    
            p {
                font-size: 1.2rem;
                margin-bottom: 2rem;
                text-align: center;
            }
    
            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: space-between;
    
                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: stretch;
                }
    
                input[type="email"] {
                    flex: 1;
                    padding: 0.5rem;
                    font-size: 1rem;
                    border: none;
                    border-radius: 5px;
                    background-color: whitesmoke;
                    color: $dark-light;
                    &:focus {
                        outline: none;
                    }
                }
                .error {
                    color: $red;
                    font-size: 0.8rem;
                }
                .success {
                    color: $green;
                    font-size: 0.8rem;
                }

            }
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
